@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Sora", sans-serif;
    background-color: #FAFAF9;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: row;
    padding: 72px;
    gap: 72px;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 14px;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        background-color: #F5C044;
        border-radius: 50%;
    }

    h1 {
        font-size: 2.25rem;
        color: #18181B;
    }

    p {
        font-size: 1.25rem;
        color: #52525A;
        line-height: 1.7;
        margin-bottom: 20px;
        max-width: 80ch;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;

        li {
            position: relative;
            padding-left: 32px;
            font-size: 0.875rem;
            color: #52525A;
        }

        li::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background-image: url('resources/Done_ring_round_fill.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 34px;

    div:first-child {
        align-self: end;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 14px;
        max-width: 340px;
        background-color: #FFFFFF;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
        font-size: 1rem;

        header {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        strong {
            color: #18181B;
        }

        p {
            color: #52525A;
            line-height: 1.5;
        }

    }
}